[Desktop Entry]
Version=1.0
Type=Application
Name=Chili iso2usb
GenericName=Chili Iso2usb Util
Comment=Utility to write iso file to pendrive
Exec=sudo /opt/chili-iso2usb/src/chili-iso2usb %F
Terminal=false
MimeType=text/plain;
Icon=/opt/chili-iso2usb/src/pendrive.png
Categories=Utility;Accessories;
StartupNotify=true
Actions=Window;Document;
